@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

*{
  margin:0;
  padding:0;
  /* box-sizing:border-box; */
}

body {
  margin: 0;
  font-family: 'Outfit','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color:black;
}

h1,h4,p,a{
  color: white;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  background: transparent;
  color: white;
  padding: 12px 32px;
  text-transform: uppercase;
  border: 1px solid white;
  cursor: pointer;
}

.btn:hover{
  background-color: rgba(255,255,255,.2);
}

